*{
    margin: 0;
    padding: 0;

    
}
/* Font Assets */
/* @font-face {
    src: url(assets/font/cutin_bigfontsite.com.otf);
    font-family: Cutin;
}
@font-face {
    src: url(/assets/font/Titania-Regular.ttf);
    font-family: Titania;
} */

/* Animations */

@-webkit-keyframes logoLeftAnim{
    0%{-webkit-transform:translateX(0);transform:translateX(0)}
    20%{-webkit-transform:translate(-110%);transform:translate(-110%)}
    50%,to{-webkit-transform:translate(0);transform:translate(0)}
    }
@keyframes logoLeftAnim{
    0%{-webkit-transform:translateX(0);transform:translateX(0)}
    20%{-webkit-transform:translate(-110%);transform:translate(-110%)}
    50%,to{-webkit-transform:translate(0);transform:translate(0)}
    }
@-webkit-keyframes BannerAnimate {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
    }
    @-moz-keyframes BannerAnimate {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
    }
    @keyframes BannerAnimate {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}
@-webkit-keyframes dawnanim {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes dawnanim {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes dawnanim {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}

html{
    scroll-behavior: smooth;
}
/* Menu */
.menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    background-color: #050810;
    color: var(--color-white);
    overflow-y: scroll;
}

.navigation-wrapper .menu-top {
    position: fixed;
    top: 5rem;
    right: 0;
    left: 0;
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(42,43,56,.5);
    border: 0.1rem solid #2a2b37;
    -webkit-backdrop-filter: blur(104px);
    backdrop-filter: blur(104px);
    border-radius: 1rem;
    transition: 0.4s;
}
.navigation-wrapper .menu-top .brand-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation-wrapper .menu-top .brand-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand-logo__text {
    -webkit-animation: logoLeftAnim 15s cubic-bezier(1,0,0,1) infinite;
    animation: logoLeftAnim 15s cubic-bezier(1,0,0,1) infinite;
    position: relative;
}

.brand-logo__text-wrapper {
    overflow: hidden;
    margin-left: 1rem;
}
.header {
    grid-column: 2/14;
    padding-top: 19rem!important;
    padding: 0px 10vw;
}
/* Banner */
.body{
    font-family: 'Quicksand', sans-serif;
}
.header__hero--heading {
    font-size: 5rem;
    font-family: 'Quicksand', sans-serif!important;
    /* font-family: 'Comfortaa', cursive!important; */
    line-height: 100%;
    letter-spacing: -.03em;
    color: #ffff;
    position: relative;
}
.banner:before {
    content: " ";
    display: block;
    position: absolute;
    top: 129px;
    left: 40px;
    width: 100%;
    height: 0;
    border-radius: 200px;
    box-shadow: -16px 0px 292px 216px #10abd582;
    -webkit-animation: BannerAnimate 11s ease infinite;
    -moz-animation: BannerAnimate 11s ease infinite;
    animation: BannerAnimate 11s ease infinite;
    position: relative;
    background-image: url("assets/img/61a9e9ef3ba9724da70db167_Noise.png");
    background-position: 0 0;
    animation: myAnim 6s ease 0s infinite alternate forwards;
}
.banner:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    right: 40px;
    width: 0;
    height: 0;
    border-radius: 200px;
    box-shadow: -16px 0px 292px 216px #10abd582;
    -webkit-animation: BannerAnimate 11s ease infinite;
    -moz-animation: BannerAnimate 11s ease infinite;
    animation: BannerAnimate 11s ease infinite;
    animation: myAnim 6s ease 0s infinite alternate both;
}
.header__hero--heading-gradient {
    background: linear-gradient(146deg, #0587aa, #9946f2, #338fb2, #9946f2);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    -webkit-animation: BannerAnimate 11s ease infinite;
    -moz-animation: BannerAnimate 11s ease infinite;
    animation: BannerAnimate 11s ease infinite;
}
.section {
    position: relative;
    /* padding: 80px; */
    background-image: url("61a9e9ef3ba9724da70db167_Noise.png");
    background-position: 0 0;
}
/* Section Project Card */

.section-projects .project-card {
    width: 50%;
    margin: auto auto;
    background: -webkit-linear-gradient(top,rgba(35,37,49,.5),rgba(15,15,24,.5));
    background: linear-gradient(180deg,rgba(35,37,49,.5),rgba(15,15,24,.5));
    border: 0.2rem solid #20222e;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backdrop-filter: blur(54px);
    backdrop-filter: blur(54px);
    border-radius: 7.3rem;
    display: flex;
    align-items: center;
    padding: 3rem 4rem;
    position: relative;
    justify-content: center;
    margin-bottom: 14rem;
}
.section-projects .project-card:before {
    content:"";
    display: block;
    position: absolute;
    top: -5rem;
    right: -5rem;
    width: 15rem;
    height: 15rem;
    background-repeat: no-repeat;
    background-size: contain;
}
.section-projects .project-card:first-of-type:before {
    background-image: url(assets/img/featuredphoto.png);
}
.section-projects .project-card__left {
    margin-right: 2rem;
}
.section-projects .project-card__left h4 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-writing-mode: tb-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: tb-rl;
    font-family: 'Comfortaa';
    font-size: .7rem;
    line-height: 92.4%;
    letter-spacing: .19em;
    color: #8b8b8b;
    line-height: 120%;
}
.section-projects .project-card__middle {
    width: 35rem;
    height: 35rem;
    background-size: cover;
    position: relative;
    border-radius: 5.3rem;
    overflow: hidden;
    display: flex;
}
.section-projects .project-card__middle img:first-child, .section-projects .project-card__middle img:nth-child(2)  {
    width: 35rem;
    height: 35rem;
    background-size: cover;
    position: relative;
    border-radius: 5.3rem;
    overflow: hidden;
    object-fit: scale-down;
    background: rgb(35 37 49 / 50%);
    transition: 0.4s ease;
}
.section-projects .project-card__middle canvas {
    position: absolute;
    z-index: 0;
    width: 100%!important;
    height: 100%!important;
}
.section-projects .project-card__right {
    margin-left: 2rem;
}

.section-projects .project-card__right h2 {
    margin-bottom: 6rem;
    font-family: 'Comfortaa';
    font-size: 36px;
    width: 13vw;
}
.section-projects .project-card a {
    color: #8b8e90;
    font-size: 23px;
    font-family: 'Comfortaa';
    text-transform: lowercase;
    letter-spacing: 3px;
    text-decoration: none;
}
.section-projects .project-card__socials {
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 5rem;
}

/* James CSS */
/* James Menu */
.navbar {
    position: absolute;
    z-index: 1;
}
img.brand-logo__icon {
    width: 70px;
}
img.brand-logo__text{
    width: 120px;
}
.toggle-button-wrapper span {
    color: #fff;
    font-family: 'Tinos', serif;

}
button.toggle-button {
    background: transparent;
    border: none!important;
    cursor: pointer;
    padding: 0;
}
button.toggle-button svg{
    transition: 0.4s;
}
button.toggle-button svg:hover {
    width: 40;
    transition: 0.4s;

}
.toggle-button-wrapper {
    display: flex;
}
/* James Banner */
.banner{
    width: 100%;
    height: 100vh;
    background: rgb(23 28 32);
    display: grid;
    grid-template-columns: 1frrepeat(12,minmax(min-content,10rem)) 1fr;
    position: relative;
}

.navigation-wrapper .menu-top:hover{
    border: 0.1rem solid #338fb2;
    transition: 0.4s;
}
.header__hero--cta {
    margin-top: 14rem;
    display: inline-block;
    font-size: 1.8rem;
    line-height: 92.4%;
    color: gray;
    text-decoration: none;
    position: relative;
    transition: 0.4s;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    text-transform: lowercase;
    border: 1px solid #006A88;
    padding: 20px;
    border-radius: 10px;
    transition: 0.4s ease;
}
.header__hero--cta:hover{
    color:#fff;
    transition: 0.4s ease;
    text-shadow: 4px 4px 12px #10abd582;
    background-color: #0586aa15;
}
section {
    background: rgb(23 28 32);
}

/* About me */
section {
    font-family: 'Comfortaa';
    color: #fff;
}
section#about-me {
    height: 50vh;
    background: rgb(23 28 32);
    padding: 5% 15%;
}
section#tiles {
    background: rgb(23 28 32);
    padding: 3% 15%;
    color: #FFFFFF80;
}
.column {
    float: left;
    width: 50%;
}
section#tiles p {
    line-height: 1.4em;
    padding-top: 15px;
    transition: 0.4s;
    font-size: 1.1rem;
}
section#tiles h2{
    transition: 0.4s;
    color: #ffff;
}
.about-me-cont {
    font-family: 'Comfortaa';
    color: #fffbfb;
}
.header-cont h2 {
    font-size: 3rem;
}

.header-cont p {
    font-size: 1.3em;
    padding-top: 20px;
    line-height: 1.7em; 
}

.left{
    width: 25%;
}

.middle{
    width: 30%;
}

.right{
    width: 30%;
}

.column1-class {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.column {
    border: 1px solid #338fb233;
    padding: 20px;
    border-radius: 7px;
    transition: 0.4s!important;
    background-image: radial-gradient(circle farthest-corner at 76% -48%,#006a874f,rgb(193 24 34 / 0%) 68%);
}

.column:hover {
    border: 1px solid #338fb2;
    transition: 0.4s;
    background-image: radial-gradient(circle farthest-corner at 76% -48%,#0587aa,rgb(193 24 34 / 0%) 68%);
}
.about-col{
    float: left;
    width: 50%;
}

.column:hover p {
    color: #ffff;
    transition: 0.4s;
}

.column:hover h2 {
    color: #ffff;
    transition: 0.4s
}

    
h2.wid-head {
    font-size: 1.8em;
}

.row.tiles-head span {
    font-size: 1.3em;
    letter-spacing: 8px;
}

h2.wid-head {
    padding-top: 15px;
    text-transform: uppercase;
    letter-spacing: 8px;
}
.tiles-cont:before {
    content: " ";
    display: block;
    position: absolute;
    top: 400;
    left: -500;
    width: 12%;
    height: 0;
    border-radius: 200px;
    box-shadow: -16px 0px 292px 216px #10abd582;
    -webkit-animation: BannerAnimate 11s ease infinite;
    -moz-animation: BannerAnimate 11s ease infinite;
    animation: BannerAnimate 11s ease infinite;
    position: relative;
    background-image: url(assets/img/61a9e9e…_Noise.png);
    background-position: 0 0;
    animation: myAnim 6s ease 0s infinite alternate both;
}

h2.about-title {
    font-size: 2.3em;
    letter-spacing: 8px;
    padding-bottom: 5rem;
    font-weight: 900;
    
}

.about-title-gradient{
    background: linear-gradient(181deg, #0587aa, #8b8b8b, #ff7901);
    background-size: 600% 600%;

    -webkit-animation: dawnanim 43s ease infinite;
    -moz-animation: dawnanim 43s ease infinite;
    animation: dawnanim 15s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* My Works */

section#sectionProjects {
    color: #8b8e90;
    padding: 5rem 0;
}
.row.project-txt-cont {
    padding: 5% 15%;
}
.row.project-txt-cont span {
    font-size: 1.3rem;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.row.project-txt-cont h2 {
    padding-top: 20;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8rem;
    letter-spacing: 8px;
    color: #fff;
}
.project-cont {
    padding: 100px 0;
}
.distilling--heading-gradient {
    background: linear-gradient(146deg, #8b8e90, #9dc6f1, #7795b4, #8b8e90);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: BannerAnimate 11s ease infinite;
    -moz-animation: BannerAnimate 11s ease infinite;
    animation: BannerAnimate 11s ease infinite;
}
.eateree--heading-gradient {
    background: linear-gradient(146deg, #8b8e90, #d60024, #ff002b, #8b8e90);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: BannerAnimate 11s ease infinite;
    -moz-animation: BannerAnimate 11s ease infinite;
    animation: BannerAnimate 11s ease infinite;
}
.federal--heading-gradient {
    background: linear-gradient(146deg, #8b8e90, #1c42c1, #063beb, #8b8e90);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: BannerAnimate 11s ease infinite;
    -moz-animation: BannerAnimate 11s ease infinite;
    animation: BannerAnimate 11s ease infinite;
}
a.project-card__link:after {
    display: block;
    content: "";
    left: 0;
    width: 25%;
    height: 1px;
    background: var(--color-gray);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    border-top: 1px solid;
    margin-top: 10px;
}
a.project-card__link:hover:after {
    width: 100%;
}
.distill-link:hover {
    color: #9dc6f1!important;
}
.eateree-link:hover{
    color: #d60024!important;
}
.federal-link:hover{
    color: #1c42c1!important;
}

.project-card__middle.distill-logo-cont img:hover {
    background: #9dc6f1;
    transition: 0.4s ease;
}
.project-card__middle.eateree-logo-cont img:hover {
    background: hsla(350, 74%, 37%, 0.418);
    transition: 0.4s ease;
}
.project-card__middle.federal-logo-cont img:hover {
    background: #1c43c173;
    transition: 0.4s ease;
}

/* Design Section */
.row.design-row {
    padding: 5% 15%;
    background-image: radial-gradient(circle farthest-corner at 105% 50%,#0587aa,rgb(193 24 34 / 0%) 16%);
}
.row.row.design-row span{
    font-size: 1.3rem;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: #8b8e90;
}
.row.row.design-row h2{
    padding-top: 20;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8rem;
    letter-spacing: 8px;
}
.row.row.design-row h3{
    font-size: 7rem;
    text-align: -webkit-center;
    padding: 10vh;  
}
.design-content p {
    text-align-last: center;
    letter-spacing: 8;
    font-size: 1.3em;
    color: #8b8e90;
}
/* Get in Touch*/
section#contact-section {
    padding: 3% 15%;
}

.contact-text-cont span {
    font-size: 1.3em;
    color: #8b8e90;
    letter-spacing: 8;
}

.contact-text-cont h2 {
    font-size: 3.8em;
    padding: 30px 0;
    color: #0587aa;
    text-align: -webkit-center;
}

.contact-text-cont p {
    font-size: 1.3rem;
    text-align: -webkit-center;
    line-height: 1.7em;
}
button {
    background: none;
    font-size: 1.3rem;
    color: #fff;
    font-family: 'Comfortaa';
    padding: 20px;
    border: 1px solid #006a88;
    border-radius: 13px;
    cursor: pointer;
}
.contact-content {
    text-align: center;
}
button:hover {
    border: 1px solid #10abd5;
    transition: 0.7s;
    background: #0587aa12;
}
.contact-content p{
    padding-bottom: 5rem;
}
/* Footer */
.footer{
    background: rgb(23 28 32);
}
.footer-cont {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
footer.footer {
    padding: 1.5em 5em;
    border-top: 1px solid rgb(20 87 108 / 39%);
}
.footer img {
    width: 200px;
    cursor: pointer;
}
.footer_text span {
    font-family: 'Comfortaa';
    color: #fff;
}