*{
    margin: 0;
    padding: 0
}
/* Font Assets */
@font-face {
    src: url(assets/font/cutin_bigfontsite.com.otf);
    font-family: Cutin;
}
@font-face {
    src: url(/assets/font/Titania-Regular.ttf);
    font-family: Titania;
}

/* Animations */

  @-webkit-keyframes logoLeftAnim{
    0%{-webkit-transform:translateX(0);transform:translateX(0)}
    20%{-webkit-transform:translate(-110%);transform:translate(-110%)}
    50%,to{-webkit-transform:translate(0);transform:translate(0)}
    }
  @keyframes logoLeftAnim{
    0%{-webkit-transform:translateX(0);transform:translateX(0)}
    20%{-webkit-transform:translate(-110%);transform:translate(-110%)}
    50%,to{-webkit-transform:translate(0);transform:translate(0)}
    }
  @-webkit-keyframes BannerAnimate {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
    }
    @-moz-keyframes BannerAnimate {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
    }
    @keyframes BannerAnimate {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
}
/* Menu */
.menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    background-color: #050810;
    color: var(--color-white);
    overflow-y: scroll;
}

.navigation-wrapper .menu-top {
    position: fixed;
    top: 5rem;
    right: 0;
    left: 0;
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(42,43,56,.5);
    border: 0.1rem solid #2a2b37;
    -webkit-backdrop-filter: blur(104px);
    backdrop-filter: blur(104px);
    border-radius: 1rem;
    transition: 0.4s;
}
.navigation-wrapper .menu-top .brand-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation-wrapper .menu-top .brand-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand-logo__text {
    -webkit-animation: logoLeftAnim 15s cubic-bezier(1,0,0,1) infinite;
    animation: logoLeftAnim 15s cubic-bezier(1,0,0,1) infinite;
    position: relative;
}

.brand-logo__text-wrapper {
    overflow: hidden;
    margin-left: 1rem;
}
.header {
    grid-column: 2/14;
    padding-top: 19rem!important;
    padding: 0px 25rem;
}
/* Banner */
.body{
    font-family: Cutin!important;
}
.header__hero--heading {
    font-size: 5rem;
    font-family: Cutin;
    line-height: 100%;
    letter-spacing: -.03em;
    color: #ffff;
    position: relative;
}
.banner:before {
    content: " ";
    display: block;
    position: absolute;
    top: 129px;
    left: 40px;
    width: 100%;
    height: 0;
    border-radius: 200px;
    box-shadow: -16px 0px 292px 216px #10abd582;
    -webkit-animation: BannerAnimate 11s ease infinite;
    -moz-animation: BannerAnimate 11s ease infinite;
    animation: BannerAnimate 11s ease infinite;
    position: relative;
    background-image: url("61a9e9ef3ba9724da70db167_Noise.png");
    background-position: 0 0;
}
.banner:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    right: 40px;
    width: 0;
    height: 0;
    border-radius: 200px;
    box-shadow: -16px 0px 292px 216px #10abd582;
    -webkit-animation: BannerAnimate 11s ease infinite;
    -moz-animation: BannerAnimate 11s ease infinite;
    animation: BannerAnimate 11s ease infinite;
}
.header__hero--heading-gradient {
    background: linear-gradient(146deg, #0587aa, #9946f2, #338fb2, #9946f2);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    -webkit-animation: BannerAnimate 11s ease infinite;
    -moz-animation: BannerAnimate 11s ease infinite;
    animation: BannerAnimate 11s ease infinite;
}
.section {
    position: relative;
    /* padding: 80px; */
    background-image: url("61a9e9ef3ba9724da70db167_Noise.png");
    background-position: 0 0;
}
/* James CSS */
/* James Menu */
.navbar {
    position: absolute;
    z-index: 1;
}
img.brand-logo__icon {
    width: 70px;
}
img.brand-logo__text{
    width: 120px;
}
.toggle-button-wrapper span {
    color: #fff;
    font-family: Titania!important;

}
button.toggle-button {
    background: transparent;
    border: none;
    cursor: pointer;
}
button.toggle-button svg{
    transition: 0.4s;
}
button.toggle-button svg:hover {
    width: 40;
    transition: 0.4s;

}
/* James Banner */
.banner{
    width: 100%;
    height: 100vh;
    background: rgb(23 28 32);
    display: grid;
    grid-template-columns: 1frrepeat(12,minmax(min-content,10rem)) 1fr;
    position: relative;
}

.navigation-wrapper .menu-top:hover{
    border: 0.1rem solid #338fb2;
    transition: 0.4s;
}
.header__hero--cta {
    margin-top: 4rem;
    display: inline-block;
    font-size: 1.8rem;
    line-height: 92.4%;
    color: gray;
    text-decoration: none;
    position: relative;
    transition: 0.4s;
    font-family: Titania!important;
}
.header__hero--cta:hover{
    color:#fff;
    transition: 0.4s;
}